body {
 
min-height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.logo{
        margin: -1% 15% -2%;
        height: 30%;
        width: 20%;
    
}
.search-container{
        
        margin: -3% 42% 2%;
}