<!doctype html>
<html>
    <body >
    <app-header></app-header>
    <img class = "logo" src="https://firebasestorage.googleapis.com/v0/b/dv508webshop.appspot.com/o/logo.png?alt=media&token=163c7146-8a5e-409f-bbc9-4a73e5443228" height="153" width="213" >
    
    <div class="search-container">
        <form >
          <input type="text" placeholder="" name="search">
          <button type="submit">Search</button>
        </form>
      </div>
    <div class="container">  
        <router-outlet></router-outlet>
    </div>
  
    <div class="container">
        <app-data-cloud></app-data-cloud>
    </div>
</body>
</html>
