body {
 /* background-image: url("https://i.ytimg.com/vi/QtFUJ_Bg9e8/maxresdefault.jpg"); */
min-height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.logo{
        margin: 2% 25% 0%;
    
}