<!-- <body>
    <div class="MainBox">
        <div class = "container">
        <h1 > Orders List </h1>
    </div>
    <mat-grid-list role="list" cols="2" rowHeight="2:1">
        <mat-grid-tile role="listitem" >Customer Names </mat-grid-tile>
        <mat-grid-tile role="listitem">Orders</mat-grid-tile>
      </mat-grid-list>
      <div class = "list">
        <mat-list-item>Customer 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Customer 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Customer 3</mat-list-item>
       </div> 
    </div>
</body> -->



<!-- <div class="MainBox">
  <mat-card class= "table" >
    <h1>Orders List</h1>
    <table >
        <thead class="table">
          <tr>
            <th>Customer details</th>
            <th>Order number</th>
            <th>Status</th>
      
          </tr>
        </thead>
        <tbody>
          <td>Customer 1</td>
          <td>1</td>
          <td>..</td>
         </tbody>  
         <tbody>
          <td>Customer 2</td>
          <td>1</td>
          <td>test</td>
         </tbody>  
         <tbody>
          <td>Customer 3</td>
          <td>1</td>
          <td>...</td>
         </tbody>  
     
      </table>
     </mat-card>
  </div> -->



<html>
<body>
<h2>Orders List</h2>

<table>
  <tr>
    <th>Customer details</th>
    <th>Orders</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>Customer 1</td>
    <td>1</td>
    <td><mat-select placeholder="Status">
        <mat-option value="new">New</mat-option>
        <mat-option value="delayed">Delayed</mat-option>
        <mat-option value="shipped">Shipped</mat-option>
    </mat-select></td>
  </tr>
  <tr>
    <td>Customer 2</td>
    <td>1</td>
    <td><mat-select placeholder="Status">
        <mat-option value="new">New</mat-option>
        <mat-option value="delayed">Delayed</mat-option>
        <mat-option value="shipped">Shipped</mat-option>
    </mat-select></td>
  </tr>
  <tr>
    <td>Customer 3</td>
    <td>1</td>
    <td><mat-select placeholder="Status">
        <mat-option value="new">New</mat-option>
        <mat-option value="delayed">Delayed</mat-option>
        <mat-option value="shipped">Shipped</mat-option>
    </mat-select></td>
  </tr>
  
</table>

</body>
</html>
