<body>

    <ul>
        <li>
        <button  class="active" mat-button [matMenuTriggerFor]="menu">Genres</button>
        <mat-menu #menu="matMenu"> 
            <button mat-menu-item value=all (click)="genreValue($event, '')">Show All </button>
            <button mat-menu-item *ngFor ="let item of categories" value={{item.genre}} (click)="genreValue($event, item.genre)">{{item.genre}} </button>
            <button *ngIf="user != null && user.admin == true;" (click)="openAddCategoryDialog()" mat-menu-item>+Add Category</button>   
        </mat-menu>
      </li>

<li  style="float:right">
    <fieldset class="rating">
        <ng-container  *ngFor="let num of [5, 4, 3, 2, 1]">
            
            <!-- full star -->
            <input 
                  (click)="starHandler(num)"
                  [id]="'star2'+num"
                  [value]="num-0.5"
                  name="rating" 
                  type="radio" />
      
                  <label class="full" [for]="'star2'+num"></label>

    
        </ng-container>
        
      </fieldset>

</li>
<li style="float:right"><a (click)="resetStars()">All ratings</a></li>
    </ul>
    
</body>