
.MainBox {
  background: #e0e0eb;
  padding: 10px;
  width: 600px;
  height: 500px;
  margin: 5% 25%;
}
textarea {
  background: #e0e0eb;
  border-color: #e0e0eb;
  color: black;
}
.price {
  background:#009900;
  color: white;
  padding: 0px;
  width: 101px;
  height: 30px;
  text-align: center;
  margin: -1% 69%;
}
.buy {
  background:#3e423e;
  color: white;
  padding: 0px;
  width: 101px;
  height: 35px;
  text-align: center;
  margin: 1% 69%;
}
div {
  margin-bottom: 10px;
}

div h2 {
  display: block;
}
h2{
  margin-top:10px;
  margin-bottom:10px;
  font-weight: bold;
}

.genre {
  font-style: italic;
}
img {
     margin: -35% 60% 0%;
}
.editButton{
  background-color: #009900;
  font-size: 18px;
  color: white;
}
