<!-- <div class="movieName">{{movie.name|uppercase}}</div>
<div class="detail">{{movie.genre}}</div>
<div class="detail2">{{movie.price}} </div>
<div class="detail3">{{movie.price2}} </div>
<div class="detail4">{{movie.year}} </div>
<div class="detail5">{{movie.year2}}</div>
<div class="detail6">{{movie.details}}</div>
<ul class="detail7"> -->
  <!DOCTYPE html>
  <html>
  <title>Movie Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>
  <div>
  <div class="MainBox">
     <div>
      <h2> {{movieImport.title}} </h2>
      <h3> ({{movieImport.year}}) </h3> </div>
      <br>
    <div class = "genre"> <div>{{movieImport.genre}}</div> </div>

    <div class = "director"> <div>Directed by: {{movieImport.director}}</div> </div>

    <div class = "stock"> <div>Left in stock: {{movieImport.stock}}</div> </div>
    <br>
      <textarea placeholder="Remember, be nice!" ></textarea>
      <div> <img src="{{movieImport.imageURL}}" height="282" width="204"> </div>
      <div class= "price">
          {{movieImport.price}}:-
              </div>
              <div class= "buy">
      <button *ngIf = "movieImport.stock > 0; else outOfStockButton" mat-button>Add to cart</button>
      <ng-template #outOfStockButton> Out of stock </ng-template>
                </div>
    <div>
      <button class="editButton" mat-button="Edit" routerLink = "app-edit-product">Edit</button>
      
    <form role="Delete">
      <button mat-button type="submit" class="delete" value="Delete"
              onclick="return confirm('Are you sure want to delete');"routerLink="/" >Delete</button>

    </form>
    </div>
    </div>
  </div>

  </body>
  </html>

<!-- <li *ngFor="let i of items" class="detail8">
  <a href="https://www.google.co.uk/{{i}}">{{i}}</a>
</li>
</ul>
<img class="movieImage" src="https://i.pinimg.com/originals/65/68/58/656858f9faa6cac13c4f1c14661ce1a9.jpg" height="500" width="350">
<button class="detail9" mat-raised-button>Add to Cart</button> -->

