
.MainBox {
    background: #e0e0eb;
    padding: 10px;
    width: 600px;
<<<<<<< HEAD
<<<<<<< HEAD
    height: 450px; 
=======
    height: 500px;
>>>>>>> b849ad2ea2c834295c37d0f3769444357900ed0c
=======
    height: 500px;
>>>>>>> b849ad2ea2c834295c37d0f3769444357900ed0c
    margin: 5% 25%;
  }
  textarea {
    background: #e0e0eb;
    border-color: #e0e0eb;
    color: black;
  }
  .price {
    background:#009900;
    color: white;
    padding: 0px;
    width: 101px;
    height: 30px;
    text-align: center;
    margin: -1% 69%;
  }
  .buy {
    background:#3e423e;
    color: white;
    padding: 0px;
    width: 101px;
    height: 35px;
    text-align: center;
    margin: 1% 69%;
  }
  div {
    margin-bottom: 10px;
  }

  div h2 {
    display: block;
  }
  h2{
    margin-top:10px;
    margin-bottom:10px;
    font-weight: bold;
  }

  .genre {
    font-style: italic;
  }
  img {
<<<<<<< HEAD
<<<<<<< HEAD
    width: 200px;
    margin: -50% 60% 0%;
  }
  .btn1{
    background-color: rgb(22, 138, 184);
  }
=======
=======
>>>>>>> b849ad2ea2c834295c37d0f3769444357900ed0c
       margin: -35% 60% 0%;
  }
  .editButton{
    background-color: #009900;
    font-size: 18px;
    color: white;
  }
<<<<<<< HEAD
>>>>>>> b849ad2ea2c834295c37d0f3769444357900ed0c
=======
>>>>>>> b849ad2ea2c834295c37d0f3769444357900ed0c
