<!-- <div class="movieName">{{movie.name|uppercase}}</div>
<div class="detail">{{movie.genre}}</div>
<div class="detail2">{{movie.price}} </div>
<div class="detail3">{{movie.price2}} </div>
<div class="detail4">{{movie.year}} </div>
<div class="detail5">{{movie.year2}}</div>
<div class="detail6">{{movie.details}}</div>
<ul class="detail7"> -->
  <!-- <!DOCTYPE html>
  <html>
  <title>Movie Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>
  <div>
        <div class="MainBox">
          <div>
          <h2> {{movie.title}} </h2>
          <h3> ({{movie.year}}) </h3> </div>
          <br>
          <div class = "genre"> <div>{{movie.genre}}</div> </div>
          <div class = "director"> <div>Directed by: {{movie.director}}</div> </div>
          <div class = "stock"> <div>Left in stock: {{movie.stock}}</div> </div>
          <br>        
          <div> <img src="{{movie.imageURL}}" height="282" width="204">
                <img class="rating-star" src="http://pngimages.net/sites/default/files/yellow-star-png-image-33491.png" height="70" width="80">
                <p class= "rating-number">5</p>
          </div>
          <div class= "price">
            {{movie.price}}:-
          </div>
          <div class= "buy">
          <button *ngIf = "movie.stock > 0; else outOfStockButton" mat-button>Add to cart</button>
          <ng-template #outOfStockButton> Out of stock </ng-template>
        </div>
        <button mat-button (click)="testOrderFunction()">Test Order</button>  
          <div *ngIf="user != null && user.admin == true">
            <button class="editButton" mat-button="Edit" (click)="openEditDialog()">Edit</button>
            <button mat-button  type="submit" class="delete" value="Delete" (click)="deleteMovies($event,movie)" routerLink="/"> Delete</button>
          </div>        
          <app-rating [movieID]="movie.id"></app-rating>
      </div>
  </div>
  </body>
  </html> -->

<!-- <li *ngFor="let i of items" class="detail8">
  <a href="https://www.google.co.uk/{{i}}">{{i}}</a>
</li>
</ul>
<img class="movieImage" src="https://i.pinimg.com/originals/65/68/58/656858f9faa6cac13c4f1c14661ce1a9.jpg" height="500" width="350">
<button class="detail9" mat-raised-button>Add to Cart</button> -->

<!DOCTYPE html>
<html lang="en"> 
<html>
    <body>
      <div class="grid">
        <div class="image-container">
          <img src="{{ movie.imageURL }}" alt="{{ movie.title }}" class="responsive">
        </div> 
        <div class="info-container">
          <h1>{{ movie.title }}</h1>
          <h2>{{ movie.genre }}</h2>
          <h3>{{ movie.director }} (Director)</h3>
          <p>{{ movie.plot }}</p>
          <hr/>
          <h4 *ngIf="movie.stock > 0; else notInStock">Available</h4>
          <ng-template #notInStock><h4>Not available</h4></ng-template>
          <h4>{{ movie.price }} sek</h4>
          <div class="rating">
            <app-rating [movieID]="movie.id"></app-rating>
          </div> 
        </div>
        <div class="button-container">
          <button mat-raised-button *ngIf="movie.stock > 0; else outOfStock" (click)="addToCart()" class="buy">Add to Cart <i class="fas fa-shopping-cart"></i></button>
          <ng-template #outOfStock><button disabled mat-raised-button class="noStock">Out of Stock</button></ng-template>
          <button mat-raised-button (click)="openEditDialog()" *ngIf="user != null && user.admin == true" class="edit">Edit</button>
          <button mat-raised-button (click)="deleteMovies($event, movie)" *ngIf="user != null && user.admin == true" class="delete">Delete</button>
        </div>
      </div>
    </body>
</html>
