/* body {
    background-color: rgb(5, 0, 51);
  
  }
  .MainBox {
      background: #e0e0eb;
      padding: 10px;
      width: 600px;
      height: 500px;
      margin: 5% 25%;
    }
    
  .container{
    text-align: left center;
  } */

  body {
    background:white;
    padding: 10px;
    width: 600px;
    height: 500px;
    margin: 5% 25%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}