.toolbar{
    background-color: rgb(0,149,213);
    color: rgb(41, 41, 7);
}

.btn1{
    position: left;
    background-color: rgb(72, 185, 72);
    margin: 0% -20%;
}
.btn2{
    background-color: rgb(22, 138, 184);
    margin: 0% 70%;
}
.dropdown {
    position: relative;
    margin: 0% 2%;
}
.category {
    margin: 50%;
    position: relative;
}
h1 {
    font-family: 'Courier New';
    font-size: 150%;
    color: beige;
    font-weight: bolder;
    font-style: italic;
}

a {
    color: beige;
}

a:hover {
    text-decoration: none; 
    color: beige;
}

a:focus {
    text-decoration: none; 
    color: beige;
}

.signIn {
    position: right;
    margin: 0% 8%;
}

h2 {
    margin: 0% 2%;
    font-size: 100%;
    color: beige;
    font-weight: bolder;
    font-style: italic;
}

.left-container {
    margin-left: auto;
}