mat-toolbar {
    background-color: rgb(0,149,213);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

button {
    font-family: 'Roboto:300', 'sans-serif';
}

.toolbar{
    display: flex;
    color: #FFF;
}

.category {
    margin: 50%;
    position: relative;
}
h1 {
    font-family: 'Courier New';
    font-size: 150%;
    color: beige;
    font-weight: bolder;
    font-style: italic;
}

a {
    color: beige;
}

a:hover {
    text-decoration: none; 
    color: beige;
}

a:focus {
    text-decoration: none; 
    color: beige;
}

h2 {
    margin: 0% 2%;
    font-size: 100%;
    color: beige;
    font-weight: bolder;
    font-style: italic;
}

h5 {
    font-family: 'Roboto:300', 'sans-serif';
}

.right-container {
    margin-left: auto;
}

.left-containter {
    margin-right: auto;
}
