<div class="form">
    <div class = "example-container">
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)] = "movies.title" name="title">
      </mat-form-field>
    </div>
    <div class ="example-container">
        <mat-form-field>
      <input matInput placeholder="Image Url" [(ngModel)] = "movies.imageURL" name="imageURL"> 
        </mat-form-field>
    </div>
      <div class="example-container">
          <mat-select placeholder="Genre"  [(value)]="selected" [(ngModel)] = "movies.genre" name="genre">
            <mat-option *ngFor ="let item of categories" value={{item.genre}}>{{item.genre}}</mat-option>
          </mat-select>
      </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Year" [(ngModel)] = "movies.year" name="year"> 
      </mat-form-field>
    </div>  
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Price" [(ngModel)] = "movies.price" name="price"> 
      </mat-form-field>
    </div>
    <div class = "example-container">
      <mat-form-field>
          <input matInput placeholder="Director" [(ngModel)] = "movies.director" name="director">
      </mat-form-field>
    </div>
    <div class = "example-container">
        <mat-form-field>
          <textarea matInput placeholder="Plot" [(ngModel)] = "movies.plot" name="plot"> </textarea>  
        </mat-form-field>
    </div>
    <div class = "example-container">
        <mat-form-field>
        <input matInput placeholder="Stock" [(ngModel)] = "movies.stock" name="stock">
        </mat-form-field>
    </div>
    <div class = "example-container">
        <button (click)="onSubmit()" class="button" >Add Product</button>
    </div>    
  </div>
    