<div class="form">
    <div class = "example-container">
      <mat-form-field>
        <input matInput placeholder="Title" ng-value="movie.title" [(ngModel)] = "movie.title" name="title">
      </mat-form-field>
    </div>
    <div class ="example-container">
        <mat-form-field>
      <input matInput placeholder="Image Url" [(ngModel)] = "movie.imageURL" name="imageURL"> 
        </mat-form-field>
    </div>
      <div class="example-container">
          <mat-select placeholder="Genre"  [(value)]="selected" [(ngModel)] = "movie.genre" name="genre">
              <mat-option *ngFor ="let item of genres" value={{item.genre}}>{{item.genre}}</mat-option>
          </mat-select>
      </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Year" [(ngModel)] = "movie.year" name="year"> 
      </mat-form-field>
    </div>  
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Price" [(ngModel)] = "movie.price" name="price"> 
      </mat-form-field>
    </div>
    <div class = "example-container">
      <mat-form-field>
          <input matInput placeholder="Director" [(ngModel)] = "movie.director" name="director">
      </mat-form-field>
    </div>
    <div class = "example-container">
        <mat-form-field>
          <textarea matInput placeholder="Plot" [(ngModel)] = "movie.plot" name="plot"> </textarea>  
        </mat-form-field>
    </div>
    <div class = "example-container">
        <mat-form-field>
        <input matInput placeholder="Stock" [(ngModel)] = "movie.stock" name="stock">
        </mat-form-field>
    </div>
    <div class = "example-container">
        <button (click)="onSubmit()" class="button" >Edit Product</button>
    </div>    
  </div>
    