<div  class="form">

<div>
   <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)] = "movies.title" name="title">
   </mat-form-field>
</div>

<div class="Genre">
  <mat-form-field>
    <mat-select placeholder="Genre"   >
       
        <mat-option *ngFor ="let item of categories" value={{item.genre}}>{{item.genre}}</mat-option>
        
    </mat-select>
  </mat-form-field>
</div>

  <div class="Year">
    <mat-form-field>
      <input matInput placeholder="Year" [(ngModel)] = "movies.year" name="year"> 
    </mat-form-field>
  </div>

    <div class="Price">
    <mat-form-field>
      <input matInput placeholder="Price" [(ngModel)] = "movies.price" name="price"> 
    </mat-form-field>
  </div>
  
  <div>
      <mat-form-field>
        <input matInput placeholder="Image Url" [(ngModel)] = "movies.imageURL" name="imageURL"> 
      </mat-form-field>
  </div>

  <div><mat-form-field>
    <textarea matInput placeholder="Plot" [(ngModel)] = "movies.plot" name="plot"> ></textarea>
    
  </mat-form-field>
  </div>
  <div >
    <button (click)="onSubmit()" class="button" >Add Product</button>
</div>

</div>