<div class="form">
<div class="Title">
   <mat-form-field>
    <input matInput placeholder="Title">
   </mat-form-field>
</div>
<div class="Genre">
    <mat-form-field>
      <input matInput placeholder="Genre">
    </mat-form-field>
</div>
  <div class="Year">
    <mat-form-field>
      <input matInput placeholder="Year">
    </mat-form-field>

  </div>
    <div class="Price">
    <mat-form-field>
      <input matInput placeholder="Price" type="number" class="example-right-align">
    </mat-form-field>
  </div>
  <div class="Image Url">
      <mat-form-field>
        <input matInput placeholder="Image Url">
      </mat-form-field>
  </div>
  <div><mat-form-field>
    <textarea matInput placeholder="Plot"></textarea>
  </mat-form-field>
  </div>
  <div >
  <button class="button" >Add Product</button>
</div>
</div>

