ul{
	list-style-type: none;
	background-color: #f2f2f2;
	padding-top: 1em;
	padding-bottom: 1em;
}

li{
	margin-top: 1em;
}

.orderbutton {
	font-weight: bold;
	background-color: #d8d8d8;
	/* border: 0.5px solid black; */
}

.main {
    /* text-align: center; */
    float: center;
    width: 650px;
    margin: 5% auto;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid black;
    /* margin-left: 50%; */
}

.box {
    /* text-align: center; */
    float: center;
    width: 700px;
    margin: 5% auto;
    padding: 10px;
    background-color: #d8d8d8;    
    /* margin-left: 50%; */
}