table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  text-align: left;
  background-color: #5F9EA0;
  padding: 4px 30px 4px 8px;
}

table td {
  border: 1px solid gray;
  padding: 4px 8px;
}

table tr:nth-child(odd) td{
  background-color: #e7edf0;
}

.margin-top-bot {
  margin-top: 10px;
  margin-bottom: 10px;
}