   

<h1>Movies: {{selectedGenre}}</h1>

<br>
 
<div *ngIf="selectedGenre.length > 0; else allItems"> 
    <div  class="nav3" *ngIf="movies?.length > 0; else noItems">
        <ul *ngFor ="let item of movies" >
            <div *ngIf="selectedGenre == item.genre"> 
              <h5>{{item.title}}</h5>
            <a href="#" (click)="accesProduct($event, item)" >
              <img src="{{item.imageURL}}" height="213" width="153">
              </a>
            </div>
          </ul>
        </div>
      </div>

        
<ng-template #allItems>
    <div  class="nav3" *ngIf="movies?.length > 0">
        <ul *ngFor ="let item of movies" >
              <h5>{{item.title}}</h5>
            
              <a routerLink="app-product-design/{{item.id}}">
                <img src="{{item.imageURL}}" height="213" width="153">
              </a>
              <div class= "buy">
                <button *ngIf = "item.stock > 0; else outOfStockButton" mat-button>Add to cart</button>
          <ng-template #outOfStockButton> Out of stock </ng-template>
                <div class= "price">
                  {{item.price}}:-  
                </div>                
              </div>          
          </ul>
        </div>
  </ng-template>
