<div class="example-form">
  
    <form>        
        <mat-form-field >
          <textarea matInput placeholder="Adress"></textarea>
        </mat-form-field>
    </form>
    <form>        
      <mat-form-field >
        <textarea matInput placeholder="Zip-code"></textarea>
      </mat-form-field>
  </form>
  <form>        
    <mat-form-field >
      <textarea matInput placeholder="City"></textarea>
    </mat-form-field>
</form>
    <form>        
      <mat-form-field >
        <textarea matInput placeholder="Phonenumber"></textarea>
      </mat-form-field>
  </form>
      
    <mat-checkbox [(ngModel)] = "checked">Remember my adress for future purchases</mat-checkbox> 
    
    <button mat-button  >Cash me outside!</button>

  </div>
