<div class="example-form">

  <head>

  </head>
  <div class="box">
    <table class="main" id="customers">
      <tr>
        <th>Shopping Cart </th>
        <th>Quantity </th>
        <th>
          <span style="color:black">
            <i class="fa fa-shopping-cart"></i>
          </span>
        </th>
      </tr>

      <tr>
        <td>
          <a href="#">Product 1</a>
        </td>
        <td>1
          <form class="form">

          </form>
        </td>
        <td>200</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>2</td>
        <td>350</td>
      </tr>
    </table>
  </div>

  <form>
    <mat-form-field>
      <textarea matInput placeholder="Street" required [(ngModel)]="address.street" name="street"></textarea>
    </mat-form-field>
  </form>
  <form>
    <mat-form-field>
      <textarea matInput placeholder="Zip-code" required minlength="5" pattern='^\d{5}(-\d{4})?$' #zipcode="ngModel" [(ngModel)]="address.zipCode"
        name="zip-code"></textarea>
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="zipcode.touched && !zipcode.valid">
      <div *ngIf="zipcode.errors.required">Zipcode is required</div>
      <div *ngIf="zipcode.errors.minlength">Zipcode should be minmum fo {{zipcode.errors.minlength.requiredLength}} length</div>
      <div *ngIf="zipcode.errors.pattern">zipcode doesn't match pattern</div>
    </div>
  </form>
  <form>
    <mat-form-field>
      <textarea matInput placeholder="City" required #city="ngModel" pattern='[a-zA-Z ]+(?:[ ][a-zA-Z ]+)*$' [(ngModel)]="address.city"
        name="city"></textarea>
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="city.touched && !city.valid">
      <div *ngIf="city.errors.required">City is required</div>
      <div *ngIf="city.errors.pattern">City doesn't match pattern</div>
    </div>
  </form>
  <form>
    <mat-form-field>
      <textarea matInput placeholder="Phonenumber" required #phoneNumber="ngModel" pattern='^\d{9}$' [(ngModel)]="address.phoneNumber"
        name="phone-number"></textarea>
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">
      <div *ngIf="phoneNumber.errors.required">phoneNumber is required</div>
      <div *ngIf="phoneNumber.errors.pattern">phoneNumber doesn't match pattern</div>
    </div>
  </form>

  <mat-checkbox [(ngModel)]="checked">Remember my adress for future purchases</mat-checkbox>

  <button mat-button (click)="createOrder()">Cash me outside!</button>

</div>